#idAnchorConteudo {
	-fx-background-image: url("../img/fundo.jpg");
	-fx-background-size: 100% 100%;
}

#idAnchorMenu {
	-fx-background-color: #F0F8FF;
}

#idAnchorMenu .button {
	-fx-background-color: #00BFFF;
	-fx-text-fill: white;
	-fx-font-weight: bold;
}

#btnSalvar {
	-fx-background-color: #00BFFF;
	-fx-text-fill: white;
	-fx-font-weight: bold;
}

#btnLimpar {
	-fx-background-color: #DC143C;
	-fx-text-fill: white;
	-fx-font-weight: bold;
}

.txtCalculo {
	-fx-background-color: #98F5FF;
	-fx-color: red;
	-fx-font-weight: bold;
}

#labelNomePage {
	-fx-label-padding: 5px;
	-fx-font-weight: bold;
}


















